<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.edc.sycon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/le_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.OnboardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.SponsorsActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.YoutubeActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f5f5c3ced69d26b88a35c1df5591b427266ed1d2" />

        <activity android:name=".Activities.WebViewActivity" />
        <activity android:name=".Activities.ArchivesActivity"></activity>
    </application>

</manifest>
